body{
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

section{
  position: relative;
  margin: 0;
  height:100vh;
  width: 100%;
}

.landing{
  color: $dark-grey;
}

.project{
  color: $dark-grey;
}

.footer{
  background-color: black;
  color: white;

}

.text-box{
  top:3em;
  left:2em;
  width: 80vw;
  position: absolute;


}

.about{
  width: 100vw;
  background-color: black;

}

.image{
  position: absolute;
  margin: 0;
  bottom: 0;
  width: 100vw;
  height:55vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
}

@media (min-width:1020px) {

  .image{
  width: 60vw;
  height: 60vh;
  }

  .right{
    right:0px;
  }

  .left{
    left:0px;
  }

  .text-box{
    max-width: 45vw;
    top:6em;
    left:6em;
  }

  .project-title{
    left:400px;
    font-weight: 700;
  }

  h1{
    font-size: 1.8em;
  }

  h2{
    font-size: 1.8em;
  }

 }


.right{
  background-image: url('../img/me.jpg');
}


.left{
  background-image: url('../img/twittergraph.jpg');
}

.project-title{
    position: absolute;
    top:30%;
    margin: 0 auto;
    font-size: 2em;
    text-align: center;
    font-style: italic;
    font-weight: 700;
}

.top{
  padding-top: 50px;
}
