h1{
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.5em;
}

a {
  font-style: italic;
}
a:hover{
  cursor: pointer;
  border-bottom: 4px solid $dark-grey;
  padding-bottom: -1px;
}
